@import "nullstyles.scss";

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/PFDinTextCondPro-Medium.woff2') format('woff2');
    font-weight: 900;
    font-style: bold;
    font-display: swap;
}

@font-face {
    font-family: 'Permanent Marker';
    src: url('../fonts/Permanent/PermanentMarker-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    color: black;
    font-family: 'Poppins', sans-serif;

    .header {
        padding: 46px 0px 0px 0px;
        background-color: #F1F1F1;

        .container {
            max-width: 1230px;
            padding: 0 30px;
            margin: 0 auto;

            .header-nav {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                .logo {
                    font-family: 'Permanent Marker';
                    font-weight: 700;
                    font-size: 40px;
                    color: black;
                }

                .nav-list {
                    display: flex;

                    column .nav-item {
                        .nav-link {}
                    }
                }
            }
        }
    }
}